<% layout("/layouts/boilerplate") %>

<div class="row">
       <div class="alert alert-danger col-6 offset-3 mt-3" role="alert">
        <p> Status Code : <%= status %></p> 
        <p>Error : <%= message %></p>
      </div>
</div>
